{% extends 'homebase.html' %}
{% block title %} Order List {% endblock %}
{% block description %} {{ setting.keywords }} {% endblock %}
{% block keywords %} {{ setting.Description }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Order List </li>
    </ul>
  </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-3">
          {% include 'userpanel.html' %}
      </div>

      <div class="col-md-9">
        <div class="order-summary clearfix">
          <div class="section-title">
            <h3 class="title">Order List</h3>
          </div>
          <table class="shopping-cart-table table">
            <thead>
              <tr>
                <th class="text-center">Order Code</th>
                <th class="text-center">Name</th>
                <th class="text-center">Phone</th>
                <th class="text-center">City</th>
                <th class="text-center">Country</th>
                <th class="text-center">Total</th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              {% for or in orders %}
              <tr>
                <th class="text-center">{{ or.Code}}</th>
                <th class="text-center">{{or.First_name}} {{or.Last_name}}</th>
                <th class="text-center">{{or.Phone}}</th>
                <th class="text-center">{{or.City}}</th>
                <th class="text-center">{{or.Country}}</th>
                <th class="text-center">${{or.Total}}</th>
                <th class="text-center"><a href="/user/orderdetails/{{or.id}}" class="primary-btn">Details</a></th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->

{% endblock %}
{% block foot %} {% include 'footer.html' %} {% endblock %}
